<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta name="viewpoint" content="with=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'about.css' %}"/>
<!--    <link rel="stylesheet" href="style.css">-->
</head>
    <body>

       <section class="banner">
           <br>
        <a href="http://127.0.0.1:8000/" class="back_btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        <div class="img"></div>
        <center>
       <div class="text">
        <h1>We Try To Inspire a Deeper Interest in Our Heritage</h1><br>
        <p>For Adventure, Excitement, and Fun for a whole family or group, you can find an easier way to manage the trips.<br>
            You can explore historical places and learn details about our countries history. We try to make it super easy to schedule, organize and travel with friends
            or family.
            </p>
            <a href="http://127.0.0.1:8000/sign_up/" class="involve-btn">Get Involved</a>
       </div>
    </center>
    </section>
    </body>
</html>