<!--<!DOCTYPE html>-->



<!--{% load static %}-->
<!--<html lang="en">-->
<!--&lt;!&ndash;{% block content %}&ndash;&gt;-->
<!--<head>-->
<!--    <title>Heritage</title>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>-->
<!--    <link rel="stylesheet" href="{% static 'heritage.css' %}"/>-->
<!--</head>-->
<!--<body>-->
<!--    <div class="banner">-->
<!--        <br>-->
<!--        <a href="http://127.0.0.1:8000/" class="back_btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>-->
<!--        <div class="navbar">-->

<!--        </div>-->
<!--        <div class="content">-->
<!--            <h1>&nbsp SEARCH YOUR DESIRE<br>&nbsp DESTINATION</h1>-->
<!--            <p STYLE="margin:30px 40px 10px 355px"> <a href="http://127.0.0.1:8000/list_of_sights/">The Historical Places of Bangladesh</a></p>-->
<!--&lt;!&ndash;            <div>&ndash;&gt;-->
<!--&lt;!&ndash;                <button type="button"><span></span><li><a href="http://127.0.0.1:8000/list_of_sights/">Which Area?</a></li></button>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--            <div class="submit">-->
<!--                <form action="{% url 'places' %}" method="get" align="left" >-->
<!--&lt;!&ndash;                    <p> &nbsp &nbsp &nbsp</p>&ndash;&gt;-->
<!--                    <input type="text" name="search" placeholder="&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Search" STYLE="margin:30px 40px 10px 400px"/>-->
<!--                        <br>-->
<!--                    <button type="submit" STYLE="margin:10px 40px 10px 383px">Submit</button>-->
<!--                </form>-->
<!--            </div>-->


<!--        </div>-->

<!--    </div>-->
<!-- </body>-->
<!--&lt;!&ndash;{% endblock %}&ndash;&gt;-->
<!--</html>-->


<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Heritage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'heritage.css' %}"/>
    <meta charset="utf-8">
</head>
<body>
    <div class="banner">
        <br>
        <a href="http://127.0.0.1:8000/" class="back_btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        <div class="navbar">

        </div>
        <div class="content">
            <h1>&nbsp SEARCH YOUR DESIRE<br>&nbsp DESTINATION</h1>


            <div class="box">
                <h2>The Historical Places of Bangladesh</h2>
                <form  action="{% url 'places' %}" method="get">
                    <input type="text" name="search" placeholder="type here....">
                    {% csrf_token %}
                    <input type="submit" name="" value="Search">

                </form>
            </div>
                {% for msg in messages %}
                    {{msg}}
                 {% endfor %}

        </div>

    </div>
 </body>

</html>
