<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lalbagh Fort</title>
  <link rel="stylesheet" href="{% static 'lalbagh_fort.css' %}"/>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2><a href="http://127.0.0.1:8000/list_of_sights/" class="back_btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a> &ensp; CONTENS&emsp;</h2>
        <ul>
            <li><a href="#History">HISTORY</a></li>
            <li><a href="#Transportation">TRANSPORT</a></li>
            <li><a href="#Stays">STAYS</a></li>
            <li><a href="#Photos">PHOTOS</a></li>
            <li><a href="#Map">MAP</a></li>
            <li><a href="#Reviews">REVIEWS</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="info">
            <h2>Lalbagh Fort</h2>
            <div><br>Lalbagh Fort or Fort Aurangabad, an incomplete Mughal palace fortress at Dhaka on the river Buriganga in the southwestern part of the old city. The river has now gone further south and flows at quite a distance from the fort. D'Oily's painting (1809-11) shows that more than half of this east-west oblong fortress touched the water of the river on its south and southwestern sides.<br></div>
            <a name="History"></a>
            <h2>History</h2>
            <div><br>The construction of the fort was commenced in 1678 AD by prince muhammad azam during his 15 month long vice-royalty        of Bengal, but before he could complete the work he was recalled by aurangzeb. His successor, shaista khan did not          continue the work, though he stayed in Dhaka up to 1688. His daughter bibi pari (Lady Fairy) died here in 1684 and this led     him to consider the fort to be ominous.<br>
                For long the fort was considered to be a combination of three buildings (the mosque, the tomb of Bibi Pari and the Diwan-i-Aam), two gateways and a portion of the partly damaged fortification wall. But recent excavations carried out by the Department of Archaeology of Bangladesh have revealed the existence of other structures and it is now possible to guess a more or less complete picture of the fort (see site plan of Lalbagh Fort).<br>
                In the present fort area of 18 acres, excavations have revealed remains of 26/27 structures with elaborate arrangements for water supply, sewerage, roof gardens, and fountains. Renovation work by the Archaeology Department has now put Lalbagh Fort in a much-improved shape and has now become an interesting spot for tourists and visitors.<br>
                Of the three surviving gateways, the southern one is the most imposing. Seen from the front it is a three storeyed structure with a fronton, bordered with slender minarets. From inside it gives the impression of a two storeyed structure. The gateway on the northeast is a much smaller and simpler structure. It is gathered from structural evidence that the fort extended to the eastern side beyond the present Shaista Khan Road. The third gate, now in the centre of the northern boundary wall, was left incomplete. The present one is a recent construction.<br>
                The archaeological excavations have revealed strata of the Sultanate as well as of the pre-Muslim periods, from where terracotta heads and plaques have been found. Thus it is now justified to say that though the Mughals founded Dhaka, it was definitely inhabited long before the Muslims came to Bengal. [Habibur Rahman].<br>
            </div>
        </div>
        <div class="Transportation_info">
            <a name="Transportation"></a>
            <h2><br>Transportation:</h2>
            <h3><br>Local Transportation</h3>
            <div>You can visit Lalbagh Kella from anywhere of Dhaka. Take a local bus to Azimpur. From there you can take a small rickshaw      ride straight to the gate of Lalbagh Kella. Any local rickshaw puller can take you to Lalbagh Kella from SadarGhat in           about 10 minutes. Though the alleys of old Dhaka can be confusing. It is recommended to ask the rickshawpuller if he            really knows the way before riding.
                <br></div>

            <h3><br>Private Transportation</h3>
            <div>You can visit Lalbagh Kella from anywhere of Dhaka with your private car or motor bike. If you are unfamiliar with the     roads of Dhaka you are recommended to take a local guide with you, who knows all the alleys of Old Dhaka very well. You can     also follow the direction provided in google maps. You can find google map at the end of this post.
            <br></div>

            <h3><br>Ride Sharing Services</h3>
            <div>You can visit Lalbagh Kella from anywhere of Dhaka with Ride Sharing services. You can hire a car or bike from the ride    sharing platforms available in Dhaka. Your driver/Rider will take you to your desired tourist place, Lalbagh Kella with no     time.
                Available ride sharing services in Dhaka :<br>
            * Uber<br>
            * Pathao<br>
            * Shohoz Rides</div>

            <h3><br>Entry Fees</h3>
            <div><br>Bangladeshi – 20BDT<br>
                Foreigners – 200 BDT<br>
                Foreigners from SAARC Countries – 100BDT<br></div>
        </div>
        <div class="Stays_info">
            <a name="Stays"></a>
            <h2><br>Stays:</h2>
            <ul>
                <li><a href="https://asiahotel.com.bd/">1. <u>Asia Hotel & resort<u></a></li>
                <li><a href="https://www.intercontinental.com/hotels/gb/en/dhaka/dachb/hoteldetail?fromRedirect=true&qSrt=sBR&qIta=99615773&icdv=99615773&qSlH=DACHB&setPMCookies=true&qSHBrC=IC&qDest=1+Minto+Road%2C+Dhaka%2C+BD&dp=true&gclid=Cj0KCQiAkMGcBhCSARIsAIW6d0C9dARkD4No7zlqhY3BD-Dy6SkYiK-A3bX1gb0CMk5OMzC5yWy2URIaAoA4EALw_wcB&cm_mmc=PDSEA-_-G_F-IMEA_FS-SWA_H-IMEA_HS-BGD_IC_BRI_EXM_HOTEL-DACHB&srb_u=1">2. INTERCONTINENTAL Hotel & Resorts</a></li>
                <li><a href=" https://hotel71.com.bd/">3. <u>Hotel 71</u></a></li>
            </ul>
        </div>
        <div class ="container">
        <header class="content">
            <a name="Photos"></a>
            <h1>Lalbagh Fort Photos</h1>
        </header>
                    <div class ="gallery">
                        <img src="{% static 'lalbagh_fort1.jpg'%}"/>
                            <div class = "desc">Lalbagh Fort 1</div>
                    </div>

                    <div class ="gallery">
                        <img src="{% static 'lalbagh_fort2.jpg'%}"/>
                            <div class = "desc">Lalbagh Fort 2</div>
                    </div>

                    <div class ="gallery">
                        <img src="{% static 'lalbagh_fort3.jpg'%}"/>
                            <div class = "desc">Lalbagh Fort 3</div>
                    </div>

                    <div class ="gallery">
                        <img src="{% static 'lalbagh_fort4.jpg'%}"/>
                            <div class = "desc">Lalbagh Fort 4</div>
                    </div>
                    <div class ="gallery">
                        <img src="{% static 'lalbagh_fort5.jpg'%}"/>
                            <div class = "desc">Lalbagh Fort 5</div>
                    </div>
                    <div class ="gallery">
                        <img src="{% static 'lalbagh_fort6.jpg'%}"/>
                            <div class = "desc">Lalbagh Fort 6</div>
                    </div>
                    <div class ="gallery">
                        <img src="{% static 'lalbagh_fort7.jpg'%}"/>
                            <div class = "desc">Lalbagh Fort 7</div>
                    </div>
                    <div class ="gallery">
                        <img src="{% static 'lalbagh_fort8.jpg'%}"/>
                            <div class = "desc">Lalbagh Fortl 8</div>
                    </div>
                </div>
            <div class="Map_info">
                <a name="Map"></a>
                <h2><br>Map:<br></h2>
                <ul>
                    <li><a href="https://www.google.com/maps/search/Lalbagh+Fort/@23.721048,90.389661,10z?hl=en-US">Lalbagh Fort Google Map</a></li>
                </ul>
                <div class ="gallery">
                    <p><a href="https://www.google.com/maps/search/Lalbagh+Fort/@23.721048,90.389661,10z?hl=en-US"><img src="{% static 'lalbag_fort_map.png'%}" ></a></p>
                </div>
            </div>
            <div class="Reviews_info">
                <a name="Reviews"></a>
                <h2><br><br><br><br><br><br><br><br><br>Reviews:<br></h2>
                <div><br>We working on it.<br><br><br><br><br><br><br><br></div>
            </div>


    </div>
</div>

</body>
</html>