<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ramakrishna Mission Temple</title>
    <link rel="stylesheet" href="{% static 'ramakrishna_mission_temple.css' %}"/>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2><a href="http://127.0.0.1:8000/list_of_sights/" class="back_btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>&ensp; CONTENS&emsp;</h2>
        <ul>
            <li><a href="#History">HISTORY</a></li>
            <li><a href="#Transportation">TRANSPORT</a></li>
            <li><a href="#Stays">STAYS</a></li>
            <li><a href="#Photos">PHOTOS</a></li>
            <li><a href="#Map">MAP</a></li>
            <li><a href="#Reviews">REVIEWS</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="info">
            <h2>Ramakrishna Mission Temple</h2>
            <div><br>Ramakrishna Mission Temple, Dhaka is a historically significant architectural monument situated by the Buriganga River at Mitford area in old Dhaka, Bangladesh. The temple Ramakrishna Mission is an architecture which was founded by Swami Vivekananda in 1899 and the Ramakrishna Math (temple) was founded by Swami Brahmananda and Swami Premananda.<br></div>
            <a name="History"></a>
            <h2>History</h2>
            <div><br>In 1916 Swami Brahmananda and Swami Premananda visited to Dhaka. On 13 February 1916, Swami Brahamananda and Swami Permananda laid the foundation of Ramakrishna Math and Ramakrishna Mission, respectively.[3] After 8 months, on 24 October the first Governor of the East Bengal, Lord Carmichael, inaugurated the opening ceremony of the medical service centre. In March of this year, Dhaka Ramakrishna Mission received the affiliation of the Headquarters at Belur.[citation needed]<br>
                The Ramakrishna Mission Authority of Belur appointed the local executive committee to start renovation work as after 85 years of use, the temple had become dilapidated. The main construction work began in 2000. In 2015, Prime Minister of India, Narendra Modi visited them temple.<br>
                The temple has a capacity of sitting for about 600 persons. It has 5 entrances. The shrine room with hexagonal view has been made in such a way that devotees can see the shrine from every side of the temple except back. The main dome is surrounding by 6 small domes with the symbols of 6 religions in their pinnacles, presenting the universality of Ramakrishna Order on the basis of Sri Ramakrishna's realization "as many faiths so many paths."<br>
            </div>
        </div>
        <div class="Transportation_info">
            <a name="Transportation"></a>
            <h2><br>Transportation:</h2>
            <p><br>By road with taxi/three/wheeler/bus from anywhere in Dhaka.<br></p>
            <h3><br>Entry Fees</h3>
            <div><br>There is no entry fees.<br></div>
        </div>
        <div class="Stays_info">
            <a name="Stays"></a>
            <h2><br>Stays:</h2>
            <div><h3>1. Pan Pacific Sonargaon Hotel, Dhaka<br></h3>
                107 , Kazi Nazrul Islam Avenue<br>
                Dhaka, Bangladesh<br>
                Tel: +880 2 811 1005<br>
                Website : Pan Pacific Sonargaon Hotel, Dhaka<br></div>

            <div><br><h3>2. Ruposhi Bangla Hotel<br></h3>
                1 Minto Road, Shahbagh, Dhaka, Bangladesh.<br>
                Phone : 88-02-8330001<br>
                Fax : 88-02-8312975<br>
                Email : sales@ruposhibanglahotel.com<br>
                Website : Ruposhi Bangla Hotel<br></div>

            <div><br><h3>3. Radisson Water Garden Hotel, Dhaka<br></h3>
                Airport Road, Dhaka Cantonment,Dhaka-1206, Bangladesh.<br>
                Telephone: + 88 02 8754555<br>
                Fax: + 88 02 8754554 , + 88 02 8754504<br>
                Email : reservations.dhaka[at]radisson.com<br>
                Website : Radisson Water Garden Hotel Dhaka Bangladesh<br></div>

            <div><br><h3>4. Dhaka Regency Hotel & Resort<br></h3>
                Airport Road, Nikunja 2, Dhaka 1229, Bangladesh.<br>
                Phone : +88-02-8913912, +880 2 8900250-9<br>
                Fax : +88-02-8911479<br>
                Email : info@dhakaregency.com<br>
                Website : www.dhakaregency.com<br></div>

            <div><br><h3>5. Best Western La Vinci Hotel, Dhaka<br></h3>
                54, Kawran Bazar, Dhaka-1215, Bangladesh<br>
                Phone No : 880-2-9119352<br>
                Fax No : 880-2-9131218<br>
                E-mail : lavinci[at]bol-online.com <br>
                reservation[at]lavincihotel.com<br>
                Web : www.lavincihotel.com<br></div>

        </div>
        <div class ="container">
        <header class="content">
            <a name="Photos"></a>
            <h1>Ramakrishna Mission Temple Photos</h1>
        </header>
                    <div class ="gallery">
                        <img src="{% static 'ramakrishna1.jpg'%}"/>
                            <div class = "desc">Ramakrishna Mission Temple 1</div>
                    </div>

                    <div class ="gallery">
                        <img src="{% static 'ramakrishna2.jpg'%}"/>
                            <div class = "desc">Ramakrishna Mission Temple 2</div>
                    </div>

                    <div class ="gallery">
                        <img src="{% static 'ramakrishna3.jpg'%}"/>
                            <div class = "desc">Ramakrishna Mission Temple 3</div>
                    </div>

                    <div class ="gallery">
                        <img src="{% static 'ramakrishna4.jpg'%}"/>
                            <div class = "desc">Ramakrishna Mission Temple 4</div>
                    </div>
                    <div class ="gallery">
                        <img src="{% static 'ramakrishna5.jpg'%}"/>
                            <div class = "desc">Ramakrishna Mission Temple 5</div>
                    </div>
                </div>
            <div class="Map_info">
                <a name="Map"></a>
                <h2><br>Map:<br></h2>
                <ul>
                    <li><a href="https://www.google.com/maps/dir/23.7509415,90.3654296/Ramakrishna+Math+%26+Ramakrishna+Mission+Dhaka,+27+Ram+Krishna+Mission+Rd,+Dhaka+1203/@23.7378783,90.3593728,13z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x3755b84dd8d3f5e1:0xa6301b18b6e6ee8a!2m2!1d90.4232579!2d23.7207814!3e0?hl=en">Ramakrishna Mission Temple Google Map</a></li>
                </ul>
                <div class ="gallery">
                    <p><a href="https://www.google.com/maps/dir/23.7509415,90.3654296/Ramakrishna+Math+%26+Ramakrishna+Mission+Dhaka,+27+Ram+Krishna+Mission+Rd,+Dhaka+1203/@23.7378783,90.3593728,13z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x3755b84dd8d3f5e1:0xa6301b18b6e6ee8a!2m2!1d90.4232579!2d23.7207814!3e0?hl=en"><img src="{% static 'ramakrishna_mission_temple.png'%}"/></a></p>
                </div>
            </div>
            <div class="Reviews_info">
                <a name="Reviews"></a>
                <h2><br><br><br><br><br><br><br><br><br>Reviews:<br></h2>
                <div><br>We working on it.<br><br><br><br><br><br><br><br></div>
            </div>


    </div>
</div>

</body>
</html>ml>