<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>STAR MOSQUE</title>
    <link rel="stylesheet" href="{% static 'star_mosque.css' %}"/>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2><a href="http://127.0.0.1:8000/list_of_sights/" class="back_btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>&ensp; CONTENS&emsp;</h2>
        <ul>
            <li><a href="#History">HISTORY</a></li>
            <li><a href="#Transportation">TRANSPORT</a></li>
            <li><a href="#Stays">STAYS</a></li>
            <li><a href="#Photos">PHOTOS</a></li>
            <li><a href="#Map">MAP</a></li>
            <li><a href="#Reviews">REVIEWS</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="info">
            <h2>STAR MOSQUE</h2>
            <div><br>Star Mosque (Bengali: তারা মসজিদ; also known as Tara Masjid), is a mosque located in Armanitola area, Dhaka, Bangladesh. The mosque has ornate designs and is decorated with motifs of blue stars. It was built in the first half of the 19th century by Mirza Golam Pir (Mirza Ahmed Jan)<br></div>
            <a name="History"></a>
            <h2>History</h2>
            <div><br>Star Mosque is situated in Abdul Khairat Road, Armanitola, in the old part of Dhaka City. The mosque is not dated by any inscription. It is known that one Mirza Golam Pir, whose ancestors had come to Dhaka and settled in Mohalla Ale Abu Sayeed (present-day Armanitola), erected it. Mirza Golam Pir died in 1860, and hence the date of construction of the mosque may conveniently be placed in the first half of the 19th century.<br>
                Originally it was an oblong (10.06m x 4.04m) three-domed mosque. There were three mihrabs on the Qibla wall in alignment with the three doorways of the mosque, of which the central one was larger than the side ones. The prayer chamber was roofed with three domes, the central one being taller and larger than the other two. The domes are carried in the interior on squinches. The original mosque building was not as decorated as it is now. The dilapidated plain and naked wall of the western side bears witness to the plainness of the past. The three southern doorways of the mosque are no doubt the old ones.  <br>
                In 1926 a local businessman named Alijan Bepari added a verandah to the mosque on its eastern side, thereby almost doubling the width of the mosque without changing its original plan. Five arches were erected on four pillars on the eastern facade of the verandah. He also financed its resurfacing with delicate and richly coloured tiles of variegated patterns.<br>
                In 1987 the three-domed mosque was transformed into a five-domed mosque. At present, the length and breadth of the mosque is 21.34m and 7.98m respectively. Some changes took place in its plan; one mihrab was demolished and two new domes and three new mihrabs were added. Five arched doorways provide entrance to the mosque. The multifold arches spring up from octagonal pillars.<br>
                The mosque, both inside and outside, is decorated with mosaic. Small chips of Chinaware-plate, cup etc and pieces of glass have been used for mosaic. This type of mosaic is called 'Chini Tikri' work. Vase with flowers is an important decorative motif on the spandrel of the arches and elsewhere on the facade. Flower-vases, flower branches, rosset, crescent, star, and Arabic calligraphic writing have been used in the decoration of the mosque. The outer wall between the doors is decorated with the motif of Fujisan (Mount Fuji) on glazed tiles and a crescent-and-star design decorates the upper part of the facade. Hundreds of blue stars have been created on the domes of white marble. All over the mosque the motif of stars dominate the decoration and so the mosque is called the Star Mosque (Tara Masjid). [Ayesha Begum]<br>
            </div>
        </div>
        <div class="Transportation_info">
            <a name="Transportation"></a>
            <h2><br>Transportation:</h2>
            <h3><br>Local Transportation</h3>
            <div>You can visit Star Mosque  from anywhere of Dhaka. Take a local bus to go Puran Dhaka then you can  take a small rickshaw ride straight to the Armanitola Star Mosque.
                <br></div>

            <h3><br>Private Transportation</h3>
            <div>You can visit Star Mosque  from anywhere of Dhaka with your private car or motor bike. You can follow the direction provided in google maps. You can find google map at the end of this post.
            <br></div>

            <h3><br>Ride Sharing Services</h3>
            <div>You can visit Star Mosquel from anywhere of Dhaka with Ride Sharing services. You can hire a car or bike from the ride sharing platforms available in Dhaka. Your driver/Rider will take you to your desired tourist place,Star Mosque with no time.
                Available ride sharing services in Dhaka :<br>
            * Uber<br>
            * Pathao<br>
            * Shohoz Rides</div>

            <h3><br>Entry Fees</h3>
            <div><br>There is no entry fees.<br></div>
        </div>
        <div class="Stays_info">
            <a name="Stays"></a>
            <h2><br>Stays:</h2>
            <ul>
                <li><a href="https://www.trip.com/hotels/tejgaon-circle-hotel-detail-31402104/holiday-inn-dhaka-city-centre/?&Allianceid=1078328&Sid=2036522&children=0">1. Holiday Inn Dhaka City Center ,an IHG Hotel</a></li>
                <li><a href="https://www.trip.com/hotels/dhaka-hotel-detail-3727665/hotel-ornate/?&Allianceid=1078328&Sid=2036522&children=0
                    ">2. Hotel Ornate</a></li>
                <li><a href="https://www.trip.com/hotels/dhaka-hotel-detail-22110615/hotel-shalimar-int-l/?&Allianceid=1078328&Sid=2036522">3. Hotel Shalimar Int’l</a></li>
            </ul>
        </div>
        <div class ="container">
        <header class="content">
            <a name="Photos"></a>
            <h1>Star Mosque Photos</h1>
        </header>
                    <div class ="gallery">
                        <img src="{% static 'Tara_masjid1.jpg'%}"/>
                            <div class = "desc">Star Mosque 1</div>
                    </div>

                    <div class ="gallery">
                        <img src="{% static 'Tara_masjid2.jpg'%}"/>
                            <div class = "desc">Star Mosque 2</div>
                    </div>

                    <div class ="gallery">
                        <img src="{% static 'Tara_masjid3.jpg'%}"/>
                            <div class = "desc">Star Mosque 3</div>
                    </div>

                    <div class ="gallery">
                        <img src="{% static 'Tara_masjid4.jpg'%}"/>
                            <div class = "desc">Star Mosque 4</div>
                    </div>
                    <div class ="gallery">
                        <img src="{% static 'Tara_masjid5.jpg'%}"/>
                            <div class = "desc">Star Mosque 5</div>
                    </div>
                    <div class ="gallery">
                        <img src="{% static 'Tara_masjid6.jpg'%}"/>
                            <div class = "desc">Star Mosque 6</div>
                    </div>
                </div>
            <div class="Map_info">
                <a name="Map"></a>
                <h2><br>Map:<br></h2>
                <ul>
                    <li><a href="https://goo.gl/maps/NyxW1CcUqv5SuKkk8">Star Mosque Google Map</a></li>
                </ul>
                <div class ="gallery">
                    <p><a href="https://goo.gl/maps/NyxW1CcUqv5SuKkk8"><img src="{% static 'star_mosque_map.png'%}"/></a></p>
                </div>
            </div>
            <div class="Reviews_info">
                <a name="Reviews"></a>
                <h2><br><br><br><br><br><br><br><br><br>Reviews:<br></h2>
                <div><br>We working on it.<br><br><br><br><br><br><br><br></div>
            </div>


    </div>
</div>

</body>
</html>